<link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/jquery-ui.css">
        <link rel="stylesheet" href="assets/css/chosen.min.css">
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/bundle.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(e) {
   $('.has-sub').click(function(){
		$(this).toggleClass('tap');
	});
});

</script>
<style type="text/css">
  * {padding:0; margin:0;}
  .main-nav {width:250px; background: rgba(160,193,199,1.00);}
  .main-nav li {list-style: none;}
  .main-nav a {
    color: #FFF;
    
    letter-spacing: .2em;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 20px;
    border-bottom: 1px dotted gray;
  }
  .main-nav a:hover {background: rgba(118,166,174,1.00);}
  .main-nav-ul ul {display: none;}
  .main-nav-ul li.tap ul {display: block;}
  
  .main-nav-ul ul a:before {
    content: '\203A';
    margin-right: 20px;
  }
  
  .main-nav .sub-arrow:after {
    content: '\203A';
    float: right;
    margin-right: 20px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }
  .main-nav li.tap .sub-arrow:after {
    content: '\2039';
  }
  .main-nav-ul ul li a{
    font-size: 75%;
  }
  </style>
<div class="col-lg-3">

        <nav class="main-nav">
          <ul class="main-nav-ul">
            <li class="has-sub"><a href="#">CATEGORY 1<span class="sub-arrow"></span></a>
              <ul>
                 <li><a href="#">Bia, nước uống có cồn</a></li>
                  <li><a href="#">Nước ngọt, giải khát</a></li>
                  <li><a href="#">Nước suối, nước khoáng</a></li>
                  <li><a href="#">Nước ép trái cây</a></li>
                  <li><a href="#">Nước yến </a></li>
                  <li><a href="#">Cà phê</a></li>
                  <li><a href="#">Sữa trái cây</a></li>
                  <li><a href="#">Mật ong</a></li>
                  <li><a href="#">Trái cây hộp</a></li>
               </ul>
            </li>             
              <li class="has-sub"><a href="#">CATEGORY 2<span class="sub-arrow"></span></a>
                <ul>
                    <li><a href="#">SUB CATEGORY 1</a></li>
                    <li><a href="#">SUB CATEGORY 2</a></li>
                    <li><a href="#">SUB CATEGORY 3</a></li>
                    <li><a href="#">SUB CATEGORY 4</a></li>
                    <li><a href="#">SUB CATEGORY 5</a></li>
                    <li><a href="#">SUB CATEGORY 6</a></li>
                 </ul>
              </li>
              <li class="has-sub" ><a href="#">CATEGORY 3<span class="sub-arrow"></span></a>
              <ul>
                <li><a href="#">SUB CATEGORY 1</a></li>
                <li><a href="#">SUB CATEGORY 2</a></li>
                <li><a href="#">SUB CATEGORY 3</a></li>
                <li><a href="#">SUB CATEGORY 4</a></li>
                <li><a href="#">SUB CATEGORY 5</a></li>
                <li><a href="#">SUB CATEGORY 6</a></li>
              </ul>
            </li>
              <li><a href="#">CATEGORY 4</a></li>
              <li><a href="#">CATEGORY 5</a></li>
           </ul>
        </nav>
        
            
    

 /.col-lg-3 -->
<div class="shop_wrapper ptb-90">
  <div class="container-fluid">
      <div class="row">
          <div >
              <div class="shop_sidebar">
                <div class="block_categories">
  <div class="category_top_menu widget">
    <div class="widget_title">
      <h3>Thể loại</h3>
    </div>
    <ul class="shop_toggle">

       <li class="has-sub"><a href="#">Trái cây tươi </a>
        <ul class="categorie_sub">
           <li><a href="#">Quả dưa chuột</a></li>
          <li><a href="#">Cà Chua</a></li>
          <li><a href="#">Khoai Tây</a></li>
          <li><a href="#">Củ hành</a></li>
          <li><a href="#">Dưa Hấu</a></li>
        </ul>

      </li>

      <li class="has-sub"><a href="#">Hoa </a>
        <ul class="categorie_sub">
           <li><a href="#">Hoa Hồng</a></li>
          <li><a href="#">Hoa Valentine</a></li>
          <li><a href="#">Hoa Event</a></li>
          <li><a href="#">Hoa Ngày Kỷ Niệm</a></li>
          <li><a href="#">Hoa Tiệc Tùng</a></li>
        </ul>

      </li>

      <li class="has-sub"><a href="#">Rau Quả </a>
        <ul class="categorie_sub">
           <li><a href="#"></a></li>
          <li><a href="#">Rau Sạch </a></li>
          <li><a href="#">Rau Tươi</a></li>
          <li><a href="#"></a>Rau Mát </li>
          <li><a href="#">Rau Dinh Dưỡng </a></li>
        </ul>
      </li>
    </ul>   
  </div>
</div>
<div class="search_filters_wrapper">
    <div class="price_filter widget">
    <div class="widget_title">
      <h3>Lọc theo giá</h3>
    </div>
    <div class="search_filters widget">
      <div id="slider-range"></div>
      <input type="text" name="text" id="amount" />    
    </div>
    </div>
  
  <div class="size_clearfix widget  mb-30">
    <div class="widget_title">
      <h3>Đồ Uống</h3>
    </div>
    <ul>
      <li>
        <input id="facet_size" type="checkbox">
        <label for="facet_size">Coca Cola(11)</label>
      </li>

      <li>
         <input id="facet_size_one" type="checkbox">
        <label for="facet_size_one">Pepsi(11)</label>
      </li>
      <li>
          <input id="facet_size_two" type="checkbox">
        <label for="facet_size_two">Bia(11)</label>
      </li>
    </ul>    
  </div>
  <div class="size_clearfix widget mb-30">
    <div class="widget_title">
      <h3>Bánh Kẹo Các Loại</h3>
    </div>
         <ul>
      <li>
        <input id="facet_size" type="checkbox">
        <label for="facet_size">Snack Cua(111)</label>
      </li>

      <li>
         <input id="facet_size_one" type="checkbox">
        <label for="facet_size_one">Kẹo Mềm(221)</label>
      </li>
      <li>
          <input id="facet_size_two" type="checkbox">
        <label for="facet_size_two">Kẹo Cao Su(211)</label>
      </li>
    </ul>    
  </div> 
        <div class="size_clearfix widget mb-30">
    <div class="widget_title">
      <h3>Nước Chấm ,Gia Vị</h3>
    </div>
         <ul>
      <li>
        <input id="facet_size" type="checkbox">
        <label for="facet_size">Nam Ngư(11)</label>
      </li>

      <li>
         <input id="facet_size_one" type="checkbox">
        <label for="facet_size_one">Chinsu(21)</label>
      </li>
      <li>
          <input id="facet_size_two" type="checkbox">
        <label for="facet_size_two">Tương Ớt (9)</label>
      </li>
    </ul>    
  </div> 
      <div class="size_clearfix widget mb-30">
    <div class="widget_title">
      <h3>Mì,Cháo,Phở Ăn Liền</h3>
    </div>
         <ul>
      <li>
        <input id="facet_size" type="checkbox">
        <label for="facet_size">Mì Ăn Liền(111)</label>
      </li>

      <li>
         <input id="facet_size_one" type="checkbox">
        <label for="facet_size_one">Cháo Ăn Liền(221)</label>
      </li>
      <li>
          <input id="facet_size_two" type="checkbox">
        <label for="facet_size_two">Phở Ăn Liền(99)</label>
      </li>
    </ul>    
  </div> 
      <div class="size_clearfix widget mb-30">
    <div class="widget_title">
      <h3>Thực Phẩm Khác</h3>
    </div>
         <ul>
      <li>
        <input id="facet_size" type="checkbox">
        <label for="facet_size">Gạo Ngon(70)</label>
      </li>

      <li>
         <input id="facet_size_one" type="checkbox">
        <label for="facet_size_one">Dầu Ăn(21)</label>
      </li>
      <li>
          <input id="facet_size_two" type="checkbox">
        <label for="facet_size_two">Đồ đóng hộp(87)</label>
      </li>
    </ul>    
  </div>      
</div>
              </div>
          </div>
      </div>
    </div>
</div>
    

























