 
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-plus"></i>  Products</h1>
        <form action="/products" method="POST">
            <form>
                <div class="form-row">
                  <div class="col">
                    <input type="text" class="form-control"  name="create_name" placeholder="Name">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" name="create_description" placeholder="Description">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" name="create_categorize" placeholder="Categorize">
                  </div>
                </div>
                <button class="btn-success btn-block"> Create New Product</button>
              </form>
              
        </form>
      </div>
    </div>
  </div>